* {
  padding: 0;
  margin: 0;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  margin-top: 50px;
}

.square {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  font-size: 80px;
  text-align: center;
}
